<ion-header>
  <ion-navbar color="rit">
    <ion-title>
     Register
    </ion-title>

  </ion-navbar>
</ion-header>



<ion-content padding text-center >
<ion-list>
    <ion-segment color="rit" [(ngModel)]="type">
        <ion-segment-button value="student">
          Students
        </ion-segment-button>
        <ion-segment-button value="staff">
          Staffs
        </ion-segment-button>
    </ion-segment>
    <ion-item>
      <ion-label floating>Full Name</ion-label>
      <ion-input type="text" [(ngModel)]="name" name="name"></ion-input>
    </ion-item>
  <br>
  <div [hidden]="type == 'student'"> 
      <ion-item>
        <ion-label>Department</ion-label>
        <ion-select [(ngModel)]="faculty" [compareWith]="compareFn">
            <ion-option *ngFor="let dep of departments | async" [value]="dep">{{dep.department}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Position (optional) e.g Lab Assitant</ion-label>
        <ion-input [(ngModel)]="position" name="email" type="text"></ion-input>
      </ion-item>
  </div>
  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input [(ngModel)]="email" name="email" type="text"></ion-input>
  </ion-item>
<br>
  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
  </ion-item>
  
  <div padding text-center>
       
     
     <!-- Show dead button if form is not filled -->
     <!--<button *ngIf="!email && !password" ion-button color="danger" clear round>Login Now</button>-->
     
     
  </div>
  <button  ion-button [hidden]="type == 'staff'" [disabled]="!email || !password || !name" color="rit" block (click)="submitLogin()">
    Sign up</button>
  <button  ion-button [hidden]="type == 'student'" [disabled]="!email || !password || !name || !faculty" color="rit" block (click)="submitLogin()">
      Sign up</button>
</ion-list>

</ion-content>
