<!--
  Generated template for the MessagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="rit">
      <img class="roundImg" *ngIf="receiver" src="{{receiver.photoUrl}}" width="40px" style="display:inline-block" height="40px"/>
      <ion-title class="titleicon" *ngIf="receiver" style="display:inline-block" >{{receiver.fullName | titlecase}}</ion-title>
  </ion-navbar>
  
 
</ion-header>


<ion-content class="body">
  <div >
      <div *ngIf="(chats |async) != '' && user != '';">
          <ion-list>
            <ion-item no-lines  *ngFor="let chat of chats | async as chatArray; let last = last; let i =index; let first = first">
                <!-- Show the first chat date-->
                <div class="chat-status" text-center *ngIf="first">
                  <span class="chat-content-center" *ngIf="((chat.createdAt)?.seconds * 1000 | date:'mediumDate')!= (now | date:'mediumDate'); else today">{{(chat.createdAt)?.seconds * 1000 | date:'mediumDate'}}</span>
                  <ng-template #today><span class="chat-content-center">Today</span></ng-template>
                </div>
                <!--Show subsequent start date-->
                <div *ngIf="chatArray[i+1]" >
                  <div class="chat-status" text-center *ngIf="((chatArray[i-1]?.createdAt)?.seconds * 1000 | date:'shortDate')!==((chatArray[i]?.createdAt)?.seconds * 1000 | date:'shortDate') && !first">
                    <span class="chat-content-center" *ngIf="((chat.createdAt)?.seconds * 1000 | date:'mediumDate')!= (now | date:'mediumDate'); else todayOne"><span *ngIf="chatArray[i+1]">{{(chatArray[i+1].createdAt)?.seconds * 1000 | date:'mediumDate'}}</span></span>
                    <ng-template #todayOne>
                      <span class="chat-content-center">Today</span>
                    </ng-template>
                  </div>
                </div>
              <div class="chat-message" text-right *ngIf="chat.uid == user.uid">
                <div class="right-bubble">
                  <span class="msg-name">Me</span>
                  <span *ngIf="(chat.createdAt)?.seconds" class="msg-date"> {{(chat.createdAt)?.seconds * 1000 | date:'shortTime'}}</span>
                  <p text-wrap>{{chat.message}}</p>
                </div>
              </div>
              <div class="chat-message" text-left *ngIf="chat.uid != user.uid">
                <div class="left-bubble">
                  <span class ="msg-name" *ngIf="receiver">{{receiver.fullName}}</span>
                  <span *ngIf="(chat.createdAt)?.seconds" class="msg-date"> {{(chat.createdAt)?.seconds * 1000 | date:'shortTime'}}</span>
                  <p text-wrap>{{chat.message}}</p>
                </div>
              </div>
              
              {{last ? toBottom() : ''}} 
            </ion-item>
          </ion-list>
         
        </div>
  </div>
  
</ion-content>

<ion-footer>
    <ion-grid>
      <ion-row>
        <ion-col col-10>
          <ion-input type="text" [(ngModel)]=message placeholder="Type a message"  name="message"></ion-input>
        </ion-col>
        <ion-col col-2 (click)="sendMessage()">
          <ion-icon item-end color="secondary" name="paper-plane"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>