page-add-bus-schedule {
    .ios-file-input{
        position: absolute;
        opacity: 0;
        z-index: 1;
        width: 100%;
        min-height: 155px;  /*Height must be a bit less than the height of the "Upload Document" button.*/
      }
}
