page-add-chat {
    .resizeimg{
        object-fit: contain;
    }
    .max{
        max-height: 400px;
    }
    .resize{
        object-fit: cover;
    }
    .myHeight{
        height: 10px;
        border-radius: 100%;
        width: 10px;
        float: right;
    
        
      }
}
