page-profile {
    .imgwrap {
        background-color:white;
        text-align: center!important;
          img {
          border:0;
          width:140px;
          height:140px;
          border-radius:50%;
          }  
        }
    .icon{
      float: right;
   
    }
    .resize{
      object-fit: cover;
    }
}
