page-profile {
    .imgwrap {
        background-color:white;
        text-align: center!important;
          img {
          border:0;
          max-width:140px;
          border-radius:50%;
          }  
        }
}
