<!--
  Generated template for the FacultyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="rit">
    <ion-title>Faculty</ion-title>
  </ion-navbar>
  <ion-toolbar color="rit">
    <ion-searchbar [(ngModel)]="searchText"></ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content>
<ion-list>  
  <p text-center *ngIf="!(staff | async)">
    <ion-spinner color="rit" name="crescent"></ion-spinner>
  </p>
  <div *ngIf="(staff |async) != ''">

      <div *ngFor="let st of staff  | async | filter : searchText">
   
      <ion-item *ngIf="st.faculty.department =='Business and Management' || 
      st.faculty.department =='Electrical Eng & Computing Sciences' || 
      st.faculty.department =='Graduate Programs and Research' ||
      st.faculty.department =='Mechanical & Industrial Engineering' ||
      st.faculty.department =='Science and Liberal Arts'">
          <ion-avatar item-start>
            <img src="{{st.photoUrl}}">
          </ion-avatar>
          <h2>{{st.fullName | titlecase}}</h2>
          <p>{{st.faculty.department}}</p>
          <p>{{st.position}}</p>
          <!--<button ion-button clear item-end>View</button>-->
        </ion-item>
      </div>
  </div>
  
</ion-list>

</ion-content>
