<!--
  Generated template for the ChatsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="rit">
    <ion-title>Chats</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-fab bottom right edge>
      <button  color="secondary" ion-fab mini (click)="addMessage()"><ion-icon name="chatbubbles"></ion-icon></button>
    </ion-fab>

  <ion-list>
      <p text-center *ngIf="!(chats |async)">
        <ion-spinner color="rit" name="crescent"></ion-spinner>
      </p>
    <div *ngIf="(chats |async) != ''; else noChats" >
     
      <ion-item *ngFor="let chat of chats | async" (click)="goToMessage(chat.uid,chat.name,chat.messageKey)">
        <ion-avatar item-start>
          <img class="resize" *ngIf="(chat.userRef)?.photoUrl" src="{{(chat.userRef)?.photoUrl}}">
          <img *ngIf="!((chat.userRef)?.photoUrl)" src="assets/imgs/blank-profile-picture.png">
        </ion-avatar>
        <h2>{{chat.userRef.fullName | titlecase}}</h2>
        <p><span *ngIf="chat.unreadMessages?.length != 0; else notBold"><b>{{chat.lastMessage}}</b></span><ng-template #notBold><span>{{chat.lastMessage}}</span></ng-template></p>
        <button *ngIf= '((chat.userRef)?.admin) =="clubs"' ion-button clear item-end>Club</button>
        <button *ngIf= '((chat.userRef)?.admin) =="athletics"' ion-button clear item-end>Athletics</button>
        <ion-badge *ngIf="chat.unreadMessages?.length != 0" color="secondary" item-end>{{chat.unreadMessages?.length}}</ion-badge>
      </ion-item>
    </div>
  </ion-list>

    <ng-template #noChats>
      <p padding text-center>You have no chats</p>
    </ng-template>

</ion-content>
