page-books {
    ion-fab{
        margin-bottom:30px;
      }
      .resizeImg{
        object-fit: contain;
    }
    .max{
        max-height: 400px;
    }
    .resize{
        object-fit: cover;
    }
}
