page-home {
    .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
        }
      
        .card-title {
          position: absolute;
          top: 36%;
          font-size: 1.3em;
          width: 100%;
          font-weight: bold;
          color: #fff;
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #fff;
        }
      
      }
  .myHeight{
    height: 80px;
    text-align: center;
    padding:1px;
    
  }
  .myHeight p{
    color: white;
    text-align: center;
    font-size: 1.0em;
    
    
  }
  .myHeight ion-icon{
    color: white;
    padding-top: 10px;
    font-size: 24px;
  }

  ion-header ion-title{
    color: #F36E21;
  }
}
