page-cover {
    

    .background{
        height: 100%;
        width: 100%;
        background: linear-gradient(10deg,#f28a21 10%,#fff 90%);
        animation-name: mybackground;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    .head {
        position: absolute;
        display: block;
        color: #f28a21;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        animation-name: mytext;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    .bottom {
        position: absolute;
        color: #f28a21;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .head h1 {
        font-size: 7vh!important;
        font-family: 'Pacifico', cursive;
        @font-face {
            font-family: 'Pacifico', cursive;
            font-weight: 400;
            src: local('Pacifico cursive'), local('Pacifico-cursive'), url(https://fonts.gstatic.com/s/pacifico/v13/FwZY7-Qmy14u9lezJ-6D6MmTpA.woff2) format('woff2'),
            url('https://fonts.gstatic.com/s/pacifico/v13/FwZY7-Qmy14u9lezJ-6D6MmTpA.woff') format('woff'), /* Pretty Modern Browsers */
            url('https://fonts.gstatic.com/s/pacifico/v13/FwZY7-Qmy14u9lezJ-6D6MmTpA.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('https://fonts.gstatic.com/s/pacifico/v13/FwZY7-Qmy14u9lezJ-6D6MmTpA.svg#svgPacifico') format('svg');
            unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
          }
    }
    /* The animation code */
    @keyframes mybackground {
        0%   {background:color($colors,rit)}
        50%  {background: #fff}
        100% {background: color($colors,rit)}
    }

    @keyframes mytext {
        0%   {color:#fff}
        50%  {color: color($colors,rit)}
        100% {color:#fff }
    }
    
}
