<!--
  Generated template for the EventsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="rit">
    <ion-title>{{eventHeaderName}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content >
  <!--Show fab when there are SG events-->
  <ion-fab bottom right edge *ngIf="eventHeaderName =='SG Events'">
    <button [hidden]="user.admin!='main'&& user.SG!=true" color="danger" ion-fab mini (click)="addEventModal(eventHeaderName)"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <!--Show fab when there are RIT events-->
  <ion-fab bottom right edge *ngIf="eventHeaderName =='RIT Events'">
    <button [hidden]="user.admin!='main'&& user.admin!='RIT'" color="rit" ion-fab mini (click)="addEventModal(eventHeaderName)"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <!--Show fab when there are Common Hour events-->
  <ion-fab bottom right edge *ngIf="eventHeaderName =='Common Hour Events'">
    <button [hidden]="user.admin!='main'&& user.admin!='RIT'" color="primary" ion-fab mini (click)="addEventModal(eventHeaderName)"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <!--Show fab when there are Common Hour events-->
  <ion-fab bottom right edge *ngIf="eventHeaderName =='Other Events'">
    <button [hidden]="user.admin!='main'&& user.admin!='RIT'" color="purple" ion-fab mini (click)="addEventModal(eventHeaderName)"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <!--Show fab when there are Suggested  events-->
  <ion-fab bottom right edge *ngIf="eventHeaderName =='Suggested Events'">
    <button [hidden]="user.admin!='main'&& user.admin!='RIT'" color="secondary" ion-fab mini (click)="addEventModal(eventHeaderName)"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <!--SG events-->
  <div *ngIf="eventHeaderName =='SG Events'">
    <p text-center *ngIf="!(sgEvents |async)">
      <ion-spinner color="rit" name="crescent"></ion-spinner>
    </p>
    <!--Show when there are no events-->
    <p class="noEvents" [hidden]="(sgEvents | async) != ''">
      Sorry there are no events right now 
    </p>
    <!--Show when there are SG events-->
    <div [hidden]="(sgEvents | async) == ''">
      <ion-card *ngFor="let sgEv of sgEvents | async">
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/marty-avatar.png">
          </ion-avatar>
          <h2>{{sgEv.postDetails.postedByName}}</h2> 
        </ion-item>
        <img class="max" src="{{sgEv.postImg}}">
        <ion-card-content>
          <h2>{{sgEv.title}} - {{sgEv.eventDate}}</h2>
          <p>{{sgEv.description}} </p>
        </ion-card-content>
        <ion-row>
          <ion-col>
            <button ion-button icon-left color="danger" clear small>
              <ion-icon name="heart"></ion-icon>
              <div *ngIf="sgEv.likes.length !=1; else like">{{sgEv.likes.length}} likes</div>
              <ng-template #like>{{sgEv.likes.length}} like</ng-template>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear color="danger" small>
              <ion-icon name="text"></ion-icon>
              <div>4 Comments</div>
            </button>
          </ion-col>
          <ion-col center text-center>
            <ion-note>
              11h ago
            </ion-note>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </div>
  <!--RIT Events-->
  <div *ngIf="eventHeaderName =='RIT Events'">
    <p text-center *ngIf="!(ritEvents |async)">
      <ion-spinner color="rit" name="crescent"></ion-spinner>
    </p>
    <p class="noEvents" [hidden]="(ritEvents | async) != ''">
      Sorry there are no events right now 
    <div [hidden]="(ritEvents | async) == ''">
      <ion-card *ngFor="let ritEv of ritEvents | async">
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/marty-avatar.png">
          </ion-avatar>
          <h2>{{ritEv.postDetails.postedByName}} {{ritEvents | async}}</h2>
        </ion-item>
        <img class="max" src="{{ritEv.postImg}}">
        <ion-card-content>
          <h2>{{ritEv.title}} - {{ritEv.eventDate}}</h2>
          <p>{{ritEv.description}} </p>
        </ion-card-content>
        <ion-row>
          <ion-col>
            <button ion-button icon-left color="danger" clear small>
              <ion-icon name="heart"></ion-icon>
              <div *ngIf="ritEv.likes.length !=1; else like">{{ritEv.likes.length}} likes</div>
              <ng-template #like>{{ritEv.likes.length}} like</ng-template>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear color="danger" small>
              <ion-icon name="text"></ion-icon>
              <div>4 Comments</div>
            </button>
          </ion-col>
          <ion-col center text-center>
            <ion-note>
              11h ago
            </ion-note>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </div>
        
    <!--Common Hour Events-->
    <div *ngIf="eventHeaderName =='Common Hour Events'">
        <p text-center *ngIf="!(comHEvents |async)">
          <ion-spinner color="rit" name="crescent"></ion-spinner>
        </p>
        <p class="noEvents" [hidden]="(comHEvents | async) != ''">
          Sorry there are no events right now
        </p>
        <div [hidden]="(comHEvents | async) == ''">
          <ion-card *ngFor="let ch of comHEvents | async">
              <ion-item>
                  <ion-avatar item-start>
                    <img src="assets/imgs/marty-avatar.png">
                  </ion-avatar>
                  <h2>{{ch.postDetails.postedByName}}</h2>   
                </ion-item>
                <img class="max" src="{{ch.postImg}}">
                <ion-card-content>
                  <h2>{{ch.title}} - {{ch.eventDate}}</h2>
                  <p>{{ch.description}} </p>
                </ion-card-content>
                <ion-row>
                  <ion-col>
                    <button ion-button icon-left color="danger" clear small>
                      <ion-icon name="heart"></ion-icon>
                      <div *ngIf="ch.likes.length !=1; else like">{{ch.likes.length}} likes</div>
                      <ng-template #like>{{ch.likes.length}} like</ng-template>
                    </button>
                  </ion-col>
                  <ion-col>
                    <button ion-button icon-left clear color="danger" small>
                      <ion-icon name="text"></ion-icon>
                      <div>4 Comments</div>
                    </button>
                  </ion-col>
                  <ion-col center text-center>
                    <ion-note>
                      11h ago
                    </ion-note>
                  </ion-col>
                </ion-row>
            </ion-card>
          </div>
        </div>
    <!--Other Events-->
  <div *ngIf="eventHeaderName =='Other Events' ">
      <p text-center *ngIf="!(otherEvents |async)">
        <ion-spinner color="rit" name="crescent"></ion-spinner>
      </p>
      <p class="noEvents" [hidden]="(otherEvents | async) != ''">
        Sorry there are no events right now
      </p>
        <div [hidden]="(otherEvents | async) == ''">
          <ion-card *ngFor="let ot of otherEvents | async">
      
              <ion-item>
                  <ion-avatar item-start>
                    <img src="assets/imgs/marty-avatar.png">
                  </ion-avatar>
                  <h2>{{ot.postDetails.postedByName}}</h2>
                  
                </ion-item>
                <img class="max" src="{{ot.postImg}}">
                <ion-card-content>
                  <h2>{{ot.title}} - {{ot.eventDate}}</h2>
                  <p>{{ot.description}} </p>
                </ion-card-content>
                <ion-row>
                  <ion-col>
                    <button ion-button icon-left color="danger" clear small>
                      <ion-icon name="heart"></ion-icon>
                      <div *ngIf="ot.likes.length !=1; else like">{{ot.likes.length}} likes</div>
                      <ng-template #like>{{ot.likes.length}} like</ng-template>
                    </button>
                  </ion-col>
                  <ion-col>
                    <button ion-button icon-left clear color="danger" small>
                      <ion-icon name="text"></ion-icon>
                      <div>4 Comments</div>
                    </button>
                  </ion-col>
                  <ion-col center text-center>
                    <ion-note>
                      11h ago
                    </ion-note>
                  </ion-col>
                </ion-row>
            </ion-card>
          </div>
        </div>
    <!--Suggested Events-->
    <div *ngIf="eventHeaderName =='Suggested Events'">
      <p text-center *ngIf="!(sugEvents |async)">
        <ion-spinner color="rit" name="crescent"></ion-spinner>
      </p>
        <p class="noEvents" [hidden]="(sugEvents | async) != ''">
          Sorry there are no events right now
        </p>
        <div [hidden]="(sugEvents | async) == ''">
            <ion-card *ngFor="let sug of sugEvents | async">
      
                <ion-item>
                    <ion-avatar item-start>
                      <img src="assets/imgs/marty-avatar.png">
                    </ion-avatar>
                    <h2>{{sug.postDetails.postedByName}}</h2>
                    
                  </ion-item>
                  <img class="max" src="{{sug.postImg}}">
                  <ion-card-content>
                    <h2>{{sug.title}} - {{sug.eventDate}}</h2>
                    <p>{{sug.description}} </p>
                  </ion-card-content>
                  <ion-row>
                    <ion-col>
                      <button ion-button icon-left color="danger" clear small>
                        <ion-icon name="heart"></ion-icon>
                        <div *ngIf="sug.likes.length !=1; else like">{{sug.likes.length}} likes</div>
                        <ng-template #like>{{sug.likes.length}} like</ng-template>
                      </button>
                    </ion-col>
                    <ion-col>
                      <button ion-button icon-left clear color="danger" small>
                        <ion-icon name="text"></ion-icon>
                        <div>4 Comments</div>
                      </button>
                    </ion-col>
                    <ion-col center text-center>
                      <ion-note>
                        11h ago
                      </ion-note>
                    </ion-col>
                  </ion-row>
                
              </ion-card>
        </div>
         
          </div>
</ion-content>

<ion-footer>
        <ion-toolbar>
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="newNotification">
                </div>
                <ion-card (click)="showEvents('SG Events')" color="danger" class="myHeight">
                    <p>SG</p> 
                </ion-card>
                <div [ngClass]="{'myborder':eventHeaderName =='SG Events'}">
                </div>
                
              </ion-col>
              
              <ion-col>
                  <div  class="newNotification">
                    </div>
                  <ion-card (click)="showEvents('RIT Events')" color="rit" class="myHeight">
                    <p>RIT</p> 
                  </ion-card>
                  <div [ngClass]="{'myborder':eventHeaderName =='RIT Events'}"> 
                  </div>
              </ion-col>
      
              <ion-col>
                  <div  class="newNotification">
                    </div>
                  <ion-card (click)="showEvents('Common Hour Events')" color="primary" class="myHeight">
                    <p>C.H</p> 
                  </ion-card>
                  <div [ngClass]="{'myborder':eventHeaderName =='Common Hour Events'}"> 
                  </div>      
              </ion-col>
        
              <ion-col>
                  <div [style.visibility]="'hidden'" class="newNotification">
                    </div>
                  <ion-card (click)="showEvents('Other Events')" color="purple" class="myHeight">
                    <p>OT</p> 
                  </ion-card>
                  <div [ngClass]="{'myborder':eventHeaderName =='Other Events'}"> 
                  </div>
              </ion-col>
      
              <ion-col>
                <div [style.visibility]="'hidden'" class="newNotification">
                </div>
                <ion-card (click)="showEvents('Suggested Events')" color="secondary" class="myHeight">
                  <p>SUG</p> 
                </ion-card>
                <div [ngClass]="{'myborder':eventHeaderName =='Suggested Events'}"> 
                </div>
              </ion-col>

            </ion-row>
          </ion-grid>
        </ion-toolbar>
      </ion-footer>