<!--
  Generated template for the EventsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
  <ion-badge item-end>260k</ion-badge>
-->
<ion-header>
  <ion-navbar color="rit">
    <ion-title>{{eventHeaderName}}</ion-title>
  </ion-navbar >
</ion-header>


<ion-content >
  <!--Show fab when there are SG events-->
  <ion-fab bottom right edge *ngIf="eventHeaderName =='SG Events'">
    <button [hidden]="user.admin!='main'&& user.SG!=true" color="danger" ion-fab mini (click)="addEventModal(eventHeaderName)"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <!--Show fab when there are RIT events-->
  <ion-fab bottom right edge *ngIf="eventHeaderName =='RIT Events'">
    <button [hidden]="user.admin!='main'&& user.admin!='RIT'" color="rit" ion-fab mini (click)="addEventModal(eventHeaderName)"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <!--Show fab when there are Common Hour events-->
  <ion-fab bottom right edge *ngIf="eventHeaderName =='Common Hour Events'">
    <button [hidden]="user.admin!='main'&& user.admin!='RIT'" color="primary" ion-fab mini (click)="addEventModal(eventHeaderName)"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <!--Show fab when there are Common Hour events-->
  <ion-fab bottom right edge *ngIf="eventHeaderName =='Other Events'">
    <button [hidden]="user.admin!='main'&& user.admin!='RIT'" color="purple" ion-fab mini (click)="addEventModal(eventHeaderName)"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <!--Show fab when there are Suggested  events-->
  <ion-fab bottom right edge *ngIf="eventHeaderName =='Suggested Events'">
    <button  color="secondary" ion-fab mini (click)="addEventModal(eventHeaderName)"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <!--SG events-->
  <div>
    <p text-center *ngIf="eventLoaded === false">
      <ion-spinner color="rit" name="crescent"></ion-spinner>
    </p>
    <!--Show when there are no events-->
    <p class="noEvents" [hidden]="events.length!==0 || eventLoaded ===false">
      Sorry there are no events right now 
    </p>
    <!--Show when there are SG events-->
    <div [hidden]="events == ''">
      <ion-card [ngStyle]='{"background-color":((sgEv.eventDate) |timeFilter:"eventFinished") ? "#f0f0f0": "white"}' *ngFor="let sgEv of events; let last = last;let first = first; let index = index">
        <ion-item [ngStyle]='{"background-color":((sgEv.eventDate) |timeFilter:"eventFinished") ? "#f0f0f0": "white"}'>
          <ion-avatar item-start >
            <img class ="resize" *ngIf="sgEv.postedBy.photoUrl" src="{{sgEv.postedBy.photoUrl}}">
          </ion-avatar>
          <h2 >{{sgEv.postedBy.fullName | titlecase}}</h2> 
          <button class ="resize" ion-button icon-only item-end *ngIf='(user.admin=="main" || user.SG==true) && sgEv.price !==""' color='secondary' (click)="goingPaid(sgEv)" clear small>
            <ion-icon name="add"></ion-icon>
          </button>
          <button ion-button icon-only item-end *ngIf='user.admin=="main" || user.SG==true' color='rit' (click)="scanBarcode(sgEv)" clear small>
            <ion-icon name="barcode"></ion-icon>
          </button>
          <p *ngIf='((sgEv.eventDate) |timeFilter:"eventFinished"); else upcoming'>Event Finished</p>
          <ng-template #upcoming>
            <p>Upcoming Event</p>
          </ng-template>
        </ion-item>
        <img *ngIf="sgEv.postImg" [ngStyle]='{"max-height.px": resHeight}' class="resizeImg max" src="{{sgEv.postImg}}">
        <ion-card-content>
          <h2><b>{{sgEv.title |titlecase}} - {{sgEv.eventDate}}</b></h2>
          <h3 *ngIf="sgEv.price !=''">Entry Fee: {{sgEv.price | currency:'AED' :'code'}}</h3>
          <h3>{{sgEv.startTime}} to {{sgEv.endTime}}</h3>
          <p>{{sgEv.description}} </p>
        </ion-card-content>
        <ion-row>
          <ion-col>
            <button ion-button icon-left [color]="sgEv.youGoing==true ? 'danger': 'inactive'" (click)="going(sgEv)" clear small>
              <ion-icon name="walk"></ion-icon>
              <div >{{sgEv.going.length}} going</div>
              
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear color="inactive" small (click)="toFeedback('Feedbacks',sgEv.id,sgEv.going)">
              <ion-icon name="text"></ion-icon>
              <div *ngIf="sgEv.feedback;else noFeedbacks"><span *ngIf="sgEv.feedback!=1;else oneFeedback">{{sgEv.feedback}} Feedbacks</span><ng-template #oneFeedback>{{sgEv.feedback}} Feedback</ng-template></div>
              <ng-template #noFeedbacks>0 Feedbacks</ng-template>
            </button>
          </ion-col>
          <ion-col center text-center>
            <ion-note>
              
            </ion-note>
          </ion-col>
        </ion-row>
        {{last ? getLast(sgEv.createdAt) : ''}} 
      </ion-card>
    </div>
  </div>
  
        
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content>
            </ion-infinite-scroll-content>
            
        </ion-infinite-scroll>
</ion-content>

<ion-footer>
        <ion-toolbar>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-card (click)="showEvents('SG Events')" color="danger" class="myHeight">
                    <p>SG</p> 
                </ion-card>
                <div [ngClass]="{'myborder':eventHeaderName =='SG Events'}">
                </div>
                
              </ion-col>
              
              <ion-col>
                  <ion-card (click)="showEvents('RIT Events')" color="rit" class="myHeight">
                    <p>RIT</p> 
                  </ion-card>
                  <div [ngClass]="{'myborder':eventHeaderName =='RIT Events'}"> 
                  </div>
              </ion-col>
      
              <ion-col>
                  
                  <ion-card (click)="showEvents('Common Hour Events')" color="primary" class="myHeight">
                    <p>C.H</p> 
                  </ion-card>
                  <div [ngClass]="{'myborder':eventHeaderName =='Common Hour Events'}"> 
                  </div>      
              </ion-col>
        
              <ion-col>
                  <ion-card (click)="showEvents('Other Events')" color="purple" class="myHeight">
                    <p>OT</p> 
                  </ion-card>
                  <div [ngClass]="{'myborder':eventHeaderName =='Other Events'}"> 
                  </div>
              </ion-col>
      
              <ion-col>
                <ion-card (click)="showEvents('Suggested Events')" color="secondary" class="myHeight">
                  <p>SUG</p> 
                </ion-card>
                <div [ngClass]="{'myborder':eventHeaderName =='Suggested Events'}"> 
                </div>
              </ion-col>

            </ion-row>
          </ion-grid>
        </ion-toolbar>
      </ion-footer>