<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="rit">
    <ion-title>{{header | titlecase}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="backgroundImg">
    <img class="resize" *ngIf="img" src="{{img}}">
  </div>

  <ion-list inset>
    <ion-item text-center>
      <h1>{{header | titlecase}}</h1>
      <p *ngIf="type =='RIT Deals'" text-wrap>{{deal}}</p>
    </ion-item>

    <ion-item text-wrap>
      <p>
      {{about}}
    </p>
    </ion-item>
    
    <div *ngIf="type =='RIT Clubs' || type =='RIT Athletics';else showMap">
      <div padding>
        <button *ngIf ='obj.clubType == "Public"' ion-button block color="secondary" (click)="joinClub()"> Join {{header}}</button>
        <ion-item *ngIf="type =='RIT Clubs' || type =='RIT Athletics'" text-center (click)="viewMembers()">
        View {{header}} Members
        <ion-icon name="arrow-forward" color="primary"  item-end></ion-icon>
      </ion-item>
      </div>
      <!--
      <ion-item text-center (click)="itemSelected(item)">
        View {{header}} Posts
        <ion-icon name="arrow-forward" color="primary"  item-end></ion-icon>
      </ion-item>
        
      -->
    </div>
    
    
    
    <ng-template #showMap>
      <div *ngIf="type !=='Jobs'" id="map_canvas">

      </div>
    </ng-template>

  </ion-list>

</ion-content>
