page-details {
    .backgroundImg img{
        width: 100%;
        min-height:200px;
        max-height:300px;
    }
    ion-item {
       
        border-top: 0px solid #fff!important;
        
    }
    #map_canvas {
        height: 300px;
        width:100%;
      }
    .resizeimg{
        object-fit: contain;
    }
    .max{
        max-height: 400px;
    }
    .resize{
        object-fit: cover;
    }
    
}
