<ion-header>
  <ion-navbar color="rit">
    <ion-title>
      {{eventHeaderName}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-fab bottom right edge>
      <button  color="rit" ion-fab mini (click)="addFeedModal(eventHeaderName)"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
  <ion-card *ngFor="let feed  of feeds |async">

    <ion-item>
      <ion-avatar item-start>
        <img src="{{(feed.postedBy|doc|async)?.photoUrl}}">
      </ion-avatar>
      <h2>{{(feed.postedBy|doc|async)?.fullName}}</h2>
      <p>{{(feed.createdAt)?.seconds * 1000 | date :'mediumDate'}}</p>
    </ion-item>
  
    <img *ngIf="(feed)?.postImg" class="max" src="{{feed?.postImg}}">
  
    <ion-card-content>
      <p>{{feed.description}}</p>
    </ion-card-content>
  
    <ion-row>
      <ion-col>
        <button ion-button icon-left color="danger" clear small>
          <ion-icon name="heart"></ion-icon>
          <div>{{feed.likes.length}} Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear color="danger" small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comments</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>
  
  </ion-card>
</ion-content>
